!!!
.sidebar
 = render partial: "/layouts/modules/sidebar"

.messages
 .messages__group
  .messages__group__left
   %h2
    = @group.name
   - @group.users.each do |user|
    %p
     = user.name
  .messages__group__right
   = link_to edit_group_path(@group), class: 'edit' do
    Edit
 .messages__chat
  = render partial: "/layouts/modules/chat"

 .messages__writing
  = render partial: "/layouts/modules/type"
