.head
 .group
  %h3.group__name 
   = current_user.name
  %ul.group__icon
   %li.group__icon__edit
    = link_to new_group_path do
     %i.fa.fa-edit
   %li.group__icon__cog
    = link_to edit_user_path(current_user) do
     %i.fa.fa-cog
.body
 - if current_user.groups
  - current_user.groups.each do |group|
   = link_to group_messages_path(group) do
    %ul.lists
     %li.name
      = group.name
     %li.say
      = show_last_message(group)



